package configgroup

import (
	i "github.com/fbuedding/fiware-iot-agent-sdk"
	"fmt"
	"github.com/fbuedding/iota-admin/web/templates/fiware/iotAgent/attributes"
	"github.com/fbuedding/iota-admin/web/templates/components"
)

type ConfigGroupsWithIoTAId struct {
	IoTAId       string
	ConfigGroups []i.ConfigGroup
}

type FiwareServiceToConfigGroupsWithIoTAId map[string]ConfigGroupsWithIoTAId
type IoTAToFiwareServiceToConfigGroupsWithIoTAId map[string]FiwareServiceToConfigGroupsWithIoTAId

templ ConfigGroup(sg i.ConfigGroup, iotAgentId string) {
	<div class="container flex-col gap-5">
		<div class="overflow-x-auto border rounded border-base-300">
			<table class="table">
				<tbody>
					<tr>
						<td>Api-Key</td>
						<td>{ string(sg.Apikey) }</td>
					</tr>
					<tr>
						<td>Service Path</td>
						<td>{ sg.ServicePath }</td>
					</tr>
					<tr>
						<td>Resource</td>
						<td>{ string(sg.Resource) } </td>
					</tr>
					<tr>
						<td>Timestamp</td>
						<td>
							if sg.Timestamp != nil {
								{ fmt.Sprintf("%t", *sg.Timestamp) }
							} else {
								false  
							}
						</td>
					</tr>
					<tr>
						<td>Entity Type</td>
						<td>{ sg.EntityType } </td>
					</tr>
					<tr>
						<td>Trust Token</td>
						<td>{ sg.Trust } </td>
					</tr>
					<tr>
						<td>Context Broker</td>
						<td>{ sg.CbHost } </td>
					</tr>
					<tr>
						<td>Attributes</td>
						<td>
							@components.WrapArrIfNotEmpty(attributes.Attributes, sg.Attributes)
						</td>
					</tr>
					<tr>
						<td>Lazy Attributes</td>
						<td>
							@components.WrapArrIfNotEmpty(attributes.LazyAttributes, sg.Lazy)
						</td>
					</tr>
					<tr>
						<td>Commands</td>
						<td>
							@components.WrapArrIfNotEmpty(attributes.Commands, sg.Commands)
						</td>
					</tr>
					<tr>
						<td>Static Attributes</td>
						<td>
							@components.WrapArrIfNotEmpty(attributes.StaticAttributes, sg.StaticAttributes)
						</td>
					</tr>
					<tr>
						<td>Internal Attributes</td>
						<td>
							@components.WrapArrIfNotEmpty(attributes.InternalAttributes, sg.InternalAttributes)
						</td>
					</tr>
					<tr>
						<td>Explicit Attributes</td>
						<td>{ sg.ExplicitAttrs } </td>
					</tr>
					<tr>
						<td>Entitiy Name Expression</td>
						<td>{ sg.EntityNameExp } </td>
					</tr>
					<tr>
						<td>NGSI Version</td>
						<td>{ sg.NgsiVersion } </td>
					</tr>
					<tr>
						<td>Default entity name conjunction</td>
						<td>{ sg.DefaultEntityNameConjunction } </td>
					</tr>
					<tr>
						<td>Autoprovision</td>
						<td>{ fmt.Sprint(sg.Autoprovision) } </td>
					</tr>
					<tr>
						<td>Payload type</td>
						<td>{ sg.PayloadType } </td>
					</tr>
					<tr>
						<td>Transport</td>
						<td>{ sg.Transport } </td>
					</tr>
					<tr>
						<td>Endpoint</td>
						<td>{ sg.Endpoint } </td>
					</tr>
					<tr>
						<td>
							<button
								type="button"
								class="btn btn-xs btn-error"
								hx-target="closest .container"
								hx-swap="outerHTML"
								hx-delete={ fmt.Sprintf("/configGroups?apiKey=%v&resource=%v&service=%v&servicePath=%v&iotAgentId=%s", sg.Apikey, sg.Resource, sg.Service, sg.ServicePath, iotAgentId) }
								hx-confirm={ fmt.Sprintf("Do you want to delete the Config Group: \nApi Key: %v \nResource: %v\n In service: \nService: %v\nservicePath: %v", sg.Apikey, sg.Resource, sg.Service, sg.ServicePath) }
							>Delete</button>
						</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
}

templ FiwareServiceConfigGroups(service string, sgs [] i.ConfigGroup, iotAgentId string) {
	<div class="collapse collapse-arrow border border-base-300">
		<input type="checkbox"/>
		<div id="static-attribute-title" class="collapse-title text-xl font-medium underline">
			{ service }
		</div>
		<div class="collapse-content flex flex-col gap-5">
			for _, v := range sgs {
				@ConfigGroup(v, iotAgentId)
			}
		</div>
	</div>
}

templ FiwareServices(fssgs FiwareServiceToConfigGroupsWithIoTAId, iotAgent string) {
	<div class="flex flex-col gap-5">
		<h3 class="text-sm">Fiware services</h3>
		for k, v := range fssgs {
			@FiwareServiceConfigGroups(k,v.ConfigGroups, v.IoTAId)
		}
	</div>
}

templ IoTAgents(ifscgs IoTAToFiwareServiceToConfigGroupsWithIoTAId) {
	<div>
		<a href="/addConfigGroupForm" hx-target="#views" hx-swap="innerHTML" class="btn">Add a Config Group</a>
	</div>
	<div>
		for alias, fscgs := range ifscgs {
			<div class="underline text-xl">{ alias }</div>
			@FiwareServices(fscgs, "")
		}
	</div>
	<div>
		<a href="/addConfigGroupForm" hx-target="#views" hx-swap="innerHTML" class="btn">Add a Config Group</a>
	</div>
}
