on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

name: Create Release
jobs:
  build:
    permissions: write-all
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false

      #- uses: actions/checkout@v3
      #- name: Create a Release
      #  uses: elgohr/Github-Release-Action@v5
      #  env:
      #    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #  with:
      #    title: ${{github.ref_name}}
      #- name: Latest tag
      #  # You may pin to the exact commit or the version.
      #  uses: EndBug/latest-tag@v1.6.1
      #  with:
      #    # Name of the tag or branch to update
      #    ref: ${{ github.ref }}
      #    # Tag name
      #    #tag-name: # optional
